.commentCard {
    border-radius: 14px !important;
}

.commentBody {
    width: 100%;
}

.commentTime {
    font-size: 12px;
}

.commentText {
    display: block;
    margin-top: 6px;
}

.commentActions {
    margin-top: 10px;
}

.editBox {
    width: 100%;
    margin-top: 10px;
}

.replyDivider {
    margin: 12px 0 !important;
}

.replyBox {
    width: 100%;
}

.repliesContainer {
    margin-top: 12px;
}